body {
    background-color: rgb(75, 80, 88);
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    table-layout: fixed;
    width: 1000px;
    padding-bottom: 30px;
    padding-top: 5px;
}

td {
    overflow: hidden;
}

h1 {
    font-size: 35px;
    font-family: 'TheGoodMonolith', sans-serif;
    padding-left: 5px;
    margin: 0 0;
}

p {
    font-size: 25px;
    font-family: 'Minecrafter', sans-serif;                     
    margin: 0 0;
}

.right {
    text-align: right;
    padding-right: 10px;
}

.white {
    color: white;
}

.red {
    color: red;
}